@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

tbody tr:nth-child(odd){background-color: #f2f2f2};


.divide-line{
    display: flex;
    flex-direction: row;
    font-size: .875rem;
    font-weight: 400;
}

.divide-line::before{
content: "";
border-bottom: 1px solid #c7d0d9;
flex: 1 1;
margin: auto;
}

.divide-line::after{
 content: "";
 border-bottom: 1px solid #c7d0d9;
 flex: 1 1;
 margin: auto;
}

.margin-left-5{
    margin-left: 5px !important;
}